<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <% if user_signed_in? %>
        <%= f.hidden_field :user_id, value: current_user.id %>
    <% else %>
        <%= f.label :user_id %>
        <%= f.text_field :user_id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :share_with %>
    <%= f.text_field :share_with %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
